body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #777777;
  background-image: url('http://subtlepatterns.com/patterns/cream_pixels.png');
  background-attachment: fixed;
}

.navbar {
  margin-bottom: 20px;  
}

navbar-default {
	color: #66FF33;
}